<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>inicio</title>
 </head>
<body>
<a href='/'>começo</a>
<a href='/login'>logar</a>
<a href='/cadastrar'>cadastrar</a>
<a href='/sair'>sair</a>


<h1>Pagina inicial</h1>
<p><%= id %></p>
<p><%= usuario ? 'ola '+usuario.nome : 'tem que logar' %></p>

</body>
</html>